<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltkj.app.activiti.dao.DepProcessDefinitionMapper">
	
	<!-- 查询部署流程定义 -->
	<select id="selectDepProcessDefinitionList" resultType="DepProcessDefinition" parameterType="String">
		SELECT 
			DE.ID_    									AS DEPLOYID,
			DE.NAME_  									AS DEPLOYNAME,
			PR.ID_        								AS PROCDEFID,
			PR.NAME_        							AS PROCDEFNAME,
			PR.KEY_         							AS PROCDEFKEY,
			PR.VERSION_     							AS PROCDEFVERSION,
			PR.RESOURCE_NAME_ 							AS RESOURCENAME,
			PR.DGRM_RESOURCE_NAME_ 						AS DGRMRESOURCENAME,
			DE.DEPLOY_TIME_ 							AS DEPLOYTIME				
		FROM 
		ACT_RE_DEPLOYMENT AS DE
		INNER JOIN ACT_RE_PROCDEF AS PR ON PR.DEPLOYMENT_ID_=DE.ID_
		<where>
			<if test=" _parameter!=null and _parameter !='undefined' ">
				(
					DE.ID_ LIKE CONCAT('%',#{_parameter},'%') OR 
					DE.NAME_ LIKE CONCAT('%',#{_parameter},'%') OR
					PR.ID_ LIKE CONCAT('%',#{_parameter},'%') OR 
					PR.NAME_ LIKE CONCAT('%',#{_parameter},'%') OR
					PR.KEY_ LIKE CONCAT('%',#{_parameter},'%')
				)
			</if>
		</where>
		ORDER BY DE.DEPLOY_TIME_
	</select>
	
</mapper>