.ztree li span.button.com_ico_open{
	background-position:-210px -66px; 
}
.ztree li span.button.com_ico_close{
	background-position:-227px -66px;
}
.ztree li span.button.com_ico_docu{
	background-position:-210px -66px;
}

.ztree li span.button.dep_ico_close{
	background-position:-227px -1px;
}
.ztree li span.button.dep_ico_open{
	background-position:-210px -1px;
}

.ztree li span.button.dep_ico_docu{
	background-position:-227px -1px;
}

.ztree li span.button.pos_ico_open{
	background-position:-209px -85px;
}
.ztree li span.button.pos_ico_close{
	background-position:-227px -85px;
}
.ztree li span.button.pos_ico_docu{
	background-position:-227px -85px;
}